# /etc/systemd/system/backup.service
# logs: journalctl -u backup.service
# sudo setsebool -P rsync_client 1
# sudo setsebool -P rsync_export_all_ro 1
# systemctl restart backup.service

[Unit]
Description=Backup script

[Service]
Type=oneshot
User=hvidal
Group=hvidal
ExecStart=/bin/bash /home/hvidal/datos_lin/programacion/scripts/backup_tracker/backup_tracker.sh
